body {
  font-family: Arial, Helvetica, sans-serif;
 margin: 0;
 padding: 0;
}

header {
  position: fixed;
}
.slider-login {
  text-align: center;
   padding: 10px;
   margin-left: 300px !important;
   margin-top: 200px !important;
}
.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}
.section-follow .fa-4x{
    margin: 5px 10px;
}
.popular-site {
    padding: 30px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.fill-text {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.subscribe {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    /* background-image: linear-gradient(rgba(0,0,0,0.8), rgba(161, 80, 80, 0.9), url('../images/blog_1.jpg'); */
}
.subscribe:before {
    position: absolute;
    content: "";
    background: #183661;
    opacity: .8;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.subscribe > .container {
    position: relative;
    z-index: 2;
}
.subscribe > .container h2, .subscribe > .container p {
    color: #fff;
}
.subscribe .form-control {
height: auto !important;
}
.site-section {
    padding: 2.5em 0;
}
.logo {
    height: 100px;
    width: 100px;
    border-radius: 1.5rem;
}
.item {
width: 100%;
height: 100%;
}
/****** footer starts ******/
.footer {
    padding: 4rem;
    color: #fff;
}
.footer-sub{
  font-family: 'Courier New', Courier, monospace;
}
 .btn {
    background-color: #198b7a;
    text-align: center;
    align-items: top;
    padding: 2rem;
    padding-top: 10px;
 }
 .email {
     background-color: #f4f4f4;
     color: black;
     font-size: larger;
 }
.email-press {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #1fa18d;
    border-radius: 1rem;
}
 .footer-heading {
    color: red;
}
.list-unstled li a{
  font-size: large;
  color: #000;
  text-align: left;
}
/* .list li a {
    color: #fff;
    font-size: 20; 
}*/
.learn {
    background: #000;
    color: #fff;
}

/* blog section */

.testimonials {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: black;
}

.main_title {
    text-align: center !important;
}
/* .popular_courses {
    padding-bottom: 100px !important; 
}
    @media (max-width: 991px) {
      .popular_courses {
        padding-bottom: 40px;
         }
     }
     .popular_courses .owl-item {
        opacity: 0;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        padding: 0px 10px;
        padding-bottom: 30px; }
      .popular_courses .owl-item.active {
        opacity: 1; }
      .popular_courses .owl-nav {
        display: flex !important;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        width: 120%;
        transform: translateY(-50%);
        left: -11%; }
        @media (max-width: 991px) {
          .popular_courses .owl-nav {
            display: none !important; } }
        .popular_courses .owl-nav .owl-prev img,
        .popular_courses .owl-nav .owl-next img {
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
         }
         .single_course {
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s; }
           
              -webkit-transition: all 0.3s ease 0s;
              -moz-transition: all 0.3s ease 0s;
              -o-transition: all 0.3s ease 0s;
              transition: all 0.3s ease 0s; }
              .single_course .course_content .tag {
                padding: 2px 21px;
                font-size: 13px;
                color: #fff;
            
                */
   .fix{
    height: 100%;
    width: 100%;
  }
  .item-header {
    font-size: 30px;
    font-weight: 900;
  }
  .item-btns {
   padding: 30px;
   font-size: 25px;

  }
  .btn {
     display: flex;
    color: #f4f4f4 !important;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 5px;
    justify-content: center;
    text-align: center;

  }
  .btn:hover {
    color: black !important;
    background-color: #fff;
    border: none;
    font-weight: 700;
    
  }
  .brand-logo {
    font-size: 40px;
    font-weight: 900;
    -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s; 
  }
  .brand-logo:hover {
    background-color: #183661;
    color: #f4f4f4;
  }
  ul li{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .item-para {
    font-size: large;
    font-weight: 700;
    margin-top: 30px;
  }


  /********** SECTION COURSE  ***********/
  /********** STARTS *************/
.site-section {
 margin-top: 300px;
 padding: 100px;
}
.main_title p{
  font-size: larger;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

/* section testimonial */

.testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(..//images/pic1.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
     /* margin-top: -100px;  */
    margin-bottom: -100px;
}
.testimonials .carousel-indicators {
    bottom: -60px;
}
.testimonials .sub-heading1 p{
    color: white;
}
/* .carousel-inner img{
    widows: 150px;
    height: 150px;
     border-radius: 100%;
    border: 2px solid deepskyblue;
    padding: 5px;
} */
.center-block {
  widows: 150px;
    height: 150px;
     border-radius: 100%;
    border: 2px solid deepskyblue;
    padding: 5px;
}
.testimonials .carousel-indicators li.active {
background-color: deepskyblue;
}
.testimonials .carousel-indicators li {
    border: deepskyblue;
}
 .center-block {
    height: 350px;
    width: 350px;
}


  /********** COURSE SECTION ENDS *************/

  /******* MAIN FOOTER  *******/
  .list-unstled {
    font-size: 10px !important;
  }