@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500|Rubik:500, 600");

body {
  font-family: Arial, Helvetica, sans-serif;
 margin: 0;
 padding: 0;
 line-height: 25px;
 font-weight: 400;
}
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #8bb1d6; } */

header {
  position: fixed;
}
.slider-login {
  text-align: center;
   padding: 10px;
   margin-left: 300px !important;
   margin-top: 200px !important;
}
.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}
.section-follow .fa-4x{
    margin: 5px 10px;
}
.popular-site {
    padding: 30px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.fill-text {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.subscribe {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
    /* background-image: linear-gradient(rgba(0,0,0,0.8), rgba(161, 80, 80, 0.9), url('../images/blog_1.jpg')); */
}
.subscribe:before {
    position: absolute;
    content: "";
    background: #183661;
    opacity: .8;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.subscribe > .container {
    position: relative;
    z-index: 2;
}
.subscribe > .container h2, .subscribe > .container p {
    color: #fff;
}
.subscribe .form-control {
height: auto !important;
}
.site-section {
    padding: 2.5em 0;

}
.logo {
    height: 100px;
    width: 100px;
    border-radius: 1.5rem;
}
.item {
width: 100%;
height: 100%;
}
/****** footer starts ******/
.footer {
    padding: 4rem;
    color: #fff;
}
.footer-sub{
  font-family: 'Courier New', Courier, monospace;
}
 .btn {
    background-color: #198b7a;
    text-align: center;
    align-items: top;
    padding: 2rem;
    padding-top: 10px;
 }
 .email {
     background-color: #f4f4f4;
     color: black;
     font-size: larger;
 }
.email-press {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #1fa18d;
    border-radius: 1rem;
}
 .footer-heading {
    color: white;
    font-weight: 800;
    font-size: 30px;
   text-transform: capitalize;
   text-underline-position: below;
}
.list-unstled li a{
  font-size: large;
  color: #000;
   text-align: center;
}

.list-unstled {
  text-align: center !important;
  margin-left: 10px;


 }
.learn {
    background: #000;
    color: #fff;
}
.testimonials {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: teal;
}
.banner_link {
  padding: 30px;
 
  
 
}
.banner_link a {
   margin-left: 20px;
    color: #fff;
    font-size: 40px;
    float: right;
}
.banner_link a:hover {
background-color: #198b7a;
padding: 15px;
}

.main_title {
    text-align: center !important;
}
/* .popular_courses {
    padding-bottom: 100px !important; 
}
    @media (max-width: 991px) {
      .popular_courses {
        padding-bottom: 40px;
         }
     }
     .popular_courses .owl-item {
        opacity: 0;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        padding: 0px 10px;
        padding-bottom: 30px; }
      .popular_courses .owl-item.active {
        opacity: 1; }
      .popular_courses .owl-nav {
        display: flex !important;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        width: 120%;
        transform: translateY(-50%);
        left: -11%; }
        @media (max-width: 991px) {
          .popular_courses .owl-nav {
            display: none !important; } }
        .popular_courses .owl-nav .owl-prev img,
        .popular_courses .owl-nav .owl-next img {
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          filter: grayscale(100%);
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
         }
         .single_course {
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s; }
           
              -webkit-transition: all 0.3s ease 0s;
              -moz-transition: all 0.3s ease 0s;
              -o-transition: all 0.3s ease 0s;
              transition: all 0.3s ease 0s; }
              .single_course .course_content .tag {
                padding: 2px 21px;
                font-size: 13px;
                color: #fff;
            
                */
  .fix {
      min-width: 100%;
      height: 100%;
     
    } 
    .card {
      width: 100%;
    }
      
  .item-header {
    font-size: 30px;
    font-weight: 900;
  }
  .item-btns {
   padding: 30px;
   font-size: 25px;
  }
  .btn {
     display: flex;
    color: #f4f4f4 !important;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 5px;
    justify-content: center;
    text-align: center;
   

  }
  .btn:hover {
    color: black !important;
    background-color: #fff;
    border: none;
    font-weight: 700;
    
  }
  .brand-logo {
    font-size: 40px;
    font-weight: 900;
    -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s; 
  }
  .brand-logo:hover {
    background-color: #183661;
    color: #f4f4f4;
  }
  ul li{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .popular_courses {
width:  auto;
height:  auto;
/* background-color: teal; */
  }
  .carousel {
    width: auto;
    height: auto;
  }
  .item-body {
     background-color: white;
     padding-top: 20px;
     padding-left: 15px;
     padding-right: 15px;
     margin: 30px;
     
  }
  .item-header {
    border: 2px solid deepskyblue;
    background-color: gray;
    color: black;
    margin-bottom: 10px;
   line-height: normal;
   border-radius: 5%;
  }
  .item-para {
    font-size: large;
    font-weight: 700;
    margin-top: 30px;
  }
   @media (max-width: 413px) {
    .carousel {
      padding-top: 20px;
      float: none;
      width: auto;
      height: auto;
      margin: 2%;
    }
     .fix {
      max-width: 100vw;
      max-height: 100vh;
    } 
    
  } 
  @media (max-width: 500px) {
    .item-body h3 a {
      display: flex;
    }
    .item-header {
      font-size: 25px;
    }
    .item-btns {
      width: 100% auto;
      height: 100% auto;

    }
    .btn {
      width: 100%;
      padding: 0;
      margin: 0;
      border: none;
    }
  }
  @media (min-width: 986px) {
    .carousel .slide {
    width: auto;
    height: auto;
    margin: 10%;
    }
    .item-body {
      height: 500px;
    
    } 
    .fix {
      height: 300px;
    }
  }

  /********** SECTION COURSE  ***********/
  /********** STARTS *************/
.site-section {
 margin-top: 300px;
 padding: 100px;
}
.main_title p{
  font-size: larger;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

/* section testimonial */

.testimonials {
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
     /* margin-top: -100px;  */
    margin-bottom: -100px;
}
.testimonials .carousel-indicators {
    bottom: -60px;
}
.testimonials .sub-heading1 p{
    color: white;
}
/* .carousel-inner img{
    widows: 150px;
    height: 150px;
     border-radius: 100%;
    border: 2px solid deepskyblue;
    padding: 5px;
} */
.center-block {
  widows: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid deepskyblue;
  padding: 5px;
}
.testimonial-info h2{
  color: #8a8a8a;
}
.testimonial-info h4 {
color: teal;
}
.testimonials .carousel-indicators li.active {
background-color: deepskyblue;
}
.testimonials .carousel-indicators li {
    border: deepskyblue;
}
 .center-block {
    height: 300px;
    width: 300px;
}
  .testimonial-carousel {
  opacity: 1rem;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(..//images/pic1.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  }
  .testimonial-head {
    width: 100%;
    height: 100%;
  }
   .testimonial-text {
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 70%;
    margin-top: 10rem;
    font-size: 25px;
  } 
  @media (max-width: 780px) {
    .testimonial-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50%;
      margin: 0;
      padding: 0;
    }
    @media (max-width: 500px) {
      .center-block {
        height: 250px;
        width: 230px;
       text-align: center;

      }
      .testimonial-text {
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
        text-align: center;
        
      }
    }
  }

  /********** COURSE SECTION ENDS *************/

  /***** About Us starts ******/

  .banner_area {
    position: relative;
    background: url(../images/sevicti-lab.jpg) no-repeat center center;
    z-index: 1;
    min-height: 392px;
    padding-top: 0 !important;
   }
   .banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 392px;
    z-index: 1; 
  }
  .banner_area .banner_inner .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 35, 71, 0.8);
   }
   .banner_area .banner_inner .banner_content {
    position: relative;
    z-index: 2;
    color: #fff;
   }
   .banner_area .banner_inner .banner_content h2 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 0px;
   }
   .banner_area .banner_inner .banner_content .page_link {
    display: inline-block;
    padding: 7px 20px; 
  }
  .banner_area .banner_inner .banner_content .page_link a {
    font-size: 15px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin-right: 20px;
    position: relative;
    text-transform: capitalize; 
  }
  .banner_area .banner_inner .banner_content .page_link a:before {
    content: "/";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
   }
  .banner_area .banner_inner .banner_content .page_link a:last-child {
    margin-right: 0px;
   }
    .banner_area .banner_inner .banner_content .page_link a:last-child:before {
      display: none; 
    }
    .banner_paragraph {
      margin-top: 100px;  
      font-size: 30px;   
      text-align: center;                                                                                                        
    }

/***** About Us starts ******/   
/***** About Us starts ******/      

/* blog starts */
/*================= latest_blog_area css =============*/
.latest_blog_area {
  background: #f9f9ff; }

.single-recent-blog-post {
  margin-bottom: 30px; }
  .single-recent-blog-post .thumb {
    overflow: hidden; }
    .single-recent-blog-post .thumb img {
      transition: all 0.7s linear; }
  .single-recent-blog-post .details {
    padding-top: 30px; }
    .single-recent-blog-post .details .sec_h4 {
      line-height: 24px;
      padding: 10px 0px 13px;
      transition: all 0.3s linear; }
      .single-recent-blog-post .details .sec_h4:hover {
        color: #7b838a; }
  .single-recent-blog-post .date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400; }
  .single-recent-blog-post:hover img {
    transform: scale(1.23) rotate(10deg); }

.tags .tag_btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid #eeeeee;
  display: inline-block;
  padding: 1px 18px;
  text-align: center;
  color: #002347; }
  .tags .tag_btn:before {
    background: #fdc632; }
  .tags .tag_btn + .tag_btn {
    margin-left: 2px; }

/*========= blog_categorie_area css ===========*/
.blog_categorie_area {
  padding-top: 80px;
  padding-bottom: 80px; }

.categories_post {
  position: relative;
  text-align: center;
  cursor: pointer; }
  .categories_post img {
    max-width: 100%; }
  .categories_post .categories_details {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(34, 34, 34, 0.8);
    color: #fff;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center; }
    .categories_post .categories_details h5 {
      margin-bottom: 0px;
      font-size: 18px;
      line-height: 26px;
      text-transform: uppercase;
      color: #fff;
      position: relative; }
    .categories_post .categories_details p {
      font-weight: 300;
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 0px; }
    .categories_post .categories_details .border_line {
      margin: 10px 0px;
      background: #fff;
      width: 100%;
      height: 1px; }
  .categories_post:hover .categories_details {
    background: #fdc632;
    background-color: transparent;
    opacity: 0.6; }

/*============ blog_left_sidebar css ==============*/
.blog_item {
  margin-bottom: 40px; }

.blog_info {
  padding-top: 30px; }
  .blog_info .post_tag {
    padding-bottom: 20px; }
    .blog_info .post_tag a {
      font: 300 14px/21px "Roboto", sans-serif;
      color: #002347; }
      .blog_info .post_tag a:hover {
        color: #7b838a; }
      .blog_info .post_tag a.active {
        color: #fdc632; }
  .blog_info .blog_meta li a {
    font: 300 14px/20px "Roboto", sans-serif;
    color: #777777;
    vertical-align: middle;
    padding-bottom: 12px;
    display: inline-block; }
    .blog_info .blog_meta li a i {
      color: #002347;
      font-size: 16px;
      font-weight: 600;
      padding-left: 15px;
      line-height: 20px;
      vertical-align: middle; }
    .blog_info .blog_meta li a:hover {
      color: #fdc632; }

.blog_post img {
  max-width: 100% auto; 
}

.blog_details {
  padding-top: 20px; }
  .blog_details h2 {
    font-size: 24px;
    line-height: 36px;
    color: #002347;
    font-weight: 600;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .blog_details h2:hover {
      color: #fdc632; }
  .blog_details p {
    margin-bottom: 26px; }

.view_btn {
  font-size: 14px;
  line-height: 36px;
  display: inline-block;
  color: #002347;
  font-weight: 500;
  padding: 0px 30px;
  background: #fff; }

.blog_right_sidebar {
  background: #f1f9ff;
  padding: 30px; }
  @media (max-width: 991px) {
    .blog_right_sidebar {
      margin-top: 80px; } }
  .blog_right_sidebar .widget_title {
    font-size: 18px;
    line-height: 25px;
    background: #002347;
    text-align: center;
    color: #fff;
    padding: 8px 0px;
    margin-bottom: 30px; }
  .blog_right_sidebar .search_widget .input-group .form-control {
    font-size: 14px;
    line-height: 29px;
    border: 0px;
    width: 100%;
    font-weight: 300;
    color: #fff;
    padding-left: 20px;
    border-radius: 45px;
    z-index: 0;
    background: #002347; }
    .blog_right_sidebar .search_widget .input-group .form-control.placeholder {
      color: #fff; }
    .blog_right_sidebar .search_widget .input-group .form-control:-moz-placeholder {
      color: #fff; }
    .blog_right_sidebar .search_widget .input-group .form-control::-moz-placeholder {
      color: #fff; }
    .blog_right_sidebar .search_widget .input-group .form-control::-webkit-input-placeholder {
      color: #fff; }
    .blog_right_sidebar .search_widget .input-group .form-control:focus {
      box-shadow: none; }
  .blog_right_sidebar .search_widget .input-group .btn-default {
    position: absolute;
    right: 20px;
    background: transparent;
    border: 0px;
    box-shadow: none;
    font-size: 14px;
    color: #fff;
    padding: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; }
  .blog_right_sidebar .author_widget {
    text-align: center; }
    .blog_right_sidebar .author_widget h4 {
      font-size: 18px;
      line-height: 20px;
      color: #002347;
      margin-bottom: 5px;
      margin-top: 30px;
     }
    .blog_right_sidebar .author_widget p {
      margin-bottom: 0px;
     }
    .blog_right_sidebar .author_widget .social_icon {
      padding: 7px 0px 15px;
     }
      .blog_right_sidebar .author_widget .social_icon a {
        font-size: 20px;
        color: #002347;
        transition: all 0.2s linear;
        padding: 10px;
      }
      .blog_right_sidebar .author_widget .social_icon a + a {
        margin-left: 20px;
       }
      .blog_right_sidebar .author_widget .social_icon a:hover {
        color: #fdc632; 
      }
.blog_right_sidebar .popular_post_widget .post_item .media-body {
  justify-content: center;
  align-self: center;
  padding-left: 20px; 
}
.post_item img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width:40%;
  /* height: 100px; */
  float: left;
}
.media-body {
   /* display: flex;  */
   width: 60%;
   float: right;
   /* align-items: center; */
} 
  .blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 14px;
    line-height: 20px;
    color: #002347;
    margin-bottom: 4px;
    transition: all 0.3s linear;
   }
    .blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover {
      color: #fdc632; }
  .blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 12px;
    line-height: 21px;
    margin-bottom: 0px; }
.blog_right_sidebar .popular_post_widget .post_item + .post_item {
  margin-top: 20px; }
.blog_right_sidebar .post_category_widget .cat-list li {
  border-bottom: 2px dotted #eee;
  transition: all 0.3s ease 0s;
  padding-bottom: 12px; }
  .blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #777; }
    .blog_right_sidebar .post_category_widget .cat-list li a p {
      margin-bottom: 0px; }
  .blog_right_sidebar .post_category_widget .cat-list li + li {
    padding-top: 15px; }
  .blog_right_sidebar .post_category_widget .cat-list li:hover {
    border-color: #fdc632; }
    .blog_right_sidebar .post_category_widget .cat-list li:hover a {
      color: #fdc632; }
.blog_right_sidebar .newsletter_widget {
  text-align: center; }
  .blog_right_sidebar .newsletter_widget .form-group {
    margin-bottom : 8px;
  }
  .blog_right_sidebar .newsletter_widget .input-group-prepend {
    margin-right: -1px; }
  .blog_right_sidebar .newsletter_widget .input-group-text {
    background: #fff;
    border-radius: 0px;
    vertical-align: top;
    font-size: 12px;
    line-height: 36px;
    padding: 0px 0px 0px 15px;
    border: 1px solid #eeeeee;
    border-right: 0px; }
  .blog_right_sidebar .newsletter_widget .form-control {
    font-size: 12px;
    line-height: 24px;
    color: #cccccc;
    border: 1px solid #eeeeee;
    border-left: 0px;
    border-radius: 0px; }
    .blog_right_sidebar .newsletter_widget .form-control.placeholder {
      color: #cccccc; }
    .blog_right_sidebar .newsletter_widget .form-control:-moz-placeholder {
      color: #cccccc; }
    .blog_right_sidebar .newsletter_widget .form-control::-moz-placeholder {
      color: #cccccc; }
    .blog_right_sidebar .newsletter_widget .form-control::-webkit-input-placeholder {
      color: #cccccc; }
    .blog_right_sidebar .newsletter_widget .form-control:focus {
      outline: none;
      box-shadow: none; }
  .blog_right_sidebar .newsletter_widget .bbtns {
    background: #fdc632;
    color: #fff;
    font-size: 12px;
    line-height: 38px;
    display: inline-block;
    font-weight: 500;
    padding: 0px 24px 0px 24px;
    border-radius: 0; }
  .blog_right_sidebar .newsletter_widget .text-bottom {
    font-size: 12px; }
.blog_right_sidebar .tag_cloud_widget ul li {
  display: inline-block; }
  .blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 0px 13px;
    margin-bottom: 8px;
    transition: all 0.3s ease 0s;
    color: #002347;
    font-size: 12px; }
    .blog_right_sidebar .tag_cloud_widget ul li a:hover {
      background: #fdc632;
      color: #fff; }
.blog_right_sidebar .br {
  width: 100%;
  height: 1px;
  background: #eeeeee;
  margin: 30px 0px; }

.blog-pagination {
padding-top: 25px; }
.blog-pagination .page-link {
  border-radius: 0; }
.blog-pagination .page-item {
  border: none; }
.blog-pagination .pagination {
  margin-bottom: 0px; }

.page-link {
background: transparent;
font-weight: 400; }

.blog-pagination .page-item.active .page-link {
background: #fdc632;
border-color: transparent;
color: #fff; }

.blog-pagination .page-link {
position: relative;
display: block;
padding: 0.5rem 0.75rem;
margin-left: -1px;
line-height: 1.25;
color: #8a8a8a;
border: none; }

.blog-pagination .page-link i {
font-weight: 600; }

.blog-pagination .page-item:last-child .page-link,
.blog-pagination .page-item:first-child .page-link {
border-radius: 0; }

.blog-pagination .page-link:hover {
color: #fff;
text-decoration: none;
background: #fdc632;
border-color: #eee; }

/*============ Start Blog Single Styles  =============*/
.single-post-area .social-links {
padding-top: 10px;
padding-left: 0px; }
.single-post-area .social-links li {
  display: inline-block;
  margin-bottom: 10px; }
  .single-post-area .social-links li a {
    color: #cccccc;
    padding: 7px;
    font-size: 14px;
    transition: all 0.2s linear; }
    .single-post-area .social-links li a:hover {
      color: #002347; }
      .single-post-area .blog_details {
        padding-top: 26px; }
        .single-post-area .blog_details p {
          margin-bottom: 10px; }
      .single-post-area .quotes {
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 24px 35px 24px 30px;
        background-color: white;
        box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
        line-height: 24px;
        color: #777;
        font-style: italic; }
      .single-post-area .arrow {
        position: absolute; }
        .single-post-area .arrow i {
          font-size: 20px;
          font-weight: 600; }
      .single-post-area .thumb .overlay-bg {
        background: rgba(0, 0, 0, 0.8); }
      .single-post-area .navigation-area {
        border-top: 1px solid #eee;
        padding-top: 30px;
        margin-top: 60px; }
        .single-post-area .navigation-area p {
          margin-bottom: 0px; }
        .single-post-area .navigation-area h4 {
          font-size: 18px;
          line-height: 25px;
          color: #002347; }
        .single-post-area .navigation-area .nav-left {
          text-align: left; }
          .single-post-area .navigation-area .nav-left .thumb {
            margin-right: 20px;
            background: #000; }
            .single-post-area .navigation-area .nav-left .thumb img {
              -webkit-transition: all 0.3s ease 0s;
              -moz-transition: all 0.3s ease 0s;
              -o-transition: all 0.3s ease 0s;
              transition: all 0.3s ease 0s; }
          .single-post-area .navigation-area .nav-left i {
            margin-left: 20px;
            opacity: 0;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s; }
          .single-post-area .navigation-area .nav-left:hover i {
            opacity: 1; }
          .single-post-area .navigation-area .nav-left:hover .thumb img {
            opacity: 0.5; }
          @media (max-width: 767px) {
            .single-post-area .navigation-area .nav-left {
              margin-bottom: 30px; } }
        .single-post-area .navigation-area .nav-right {
          text-align: right; }
          .single-post-area .navigation-area .nav-right .thumb {
            margin-left: 20px;
            background: #000; }
            .single-post-area .navigation-area .nav-right .thumb img {
              -webkit-transition: all 0.3s ease 0s;
              -moz-transition: all 0.3s ease 0s;
              -o-transition: all 0.3s ease 0s;
              transition: all 0.3s ease 0s; }
          .single-post-area .navigation-area .nav-right i {
            margin-right: 20px;
            opacity: 0;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s; }
          .single-post-area .navigation-area .nav-right:hover i {
            opacity: 1; }
          .single-post-area .navigation-area .nav-right:hover .thumb img {
            opacity: 0.5; }
      @media (max-width: 991px) {
        .single-post-area .sidebar-widgets {
          padding-bottom: 0px; } }
      
      .comments-area {
        background: #f1f9ff;
        padding: 50px 30px;
        margin-top: 50px; }
        @media (max-width: 414px) {
          .comments-area {
            padding: 50px 8px; } }
        .comments-area h4 {
          text-align: center;
          margin-bottom: 50px;
          color: #002347;
          font-size: 18px; }
        .comments-area h5 {
          font-size: 16px;
          margin-bottom: 0px; }
        .comments-area a {
          color: #002347; }
        .comments-area .comment-list {
          padding-bottom: 48px; }
          .comments-area .comment-list:last-child {
            padding-bottom: 0px; }
          .comments-area .comment-list.left-padding {
            padding-left: 25px; }
          @media (max-width: 413px) {
            .comments-area .comment-list .single-comment h5 {
              font-size: 12px; }
            .comments-area .comment-list .single-comment .date {
              font-size: 11px; }
            .comments-area .comment-list .single-comment .comment {
              font-size: 10px; } }
        .comments-area .thumb {
          margin-right: 20px; }
        .comments-area .date {
          font-size: 13px;
          color: #777777;
          margin-bottom: 13px; }
        .comments-area .comment {
          color: #777777;
          margin-bottom: 0px; }
        .comments-area .btn-reply {
          background-color: #fff;
          color: #002347;
          border: 1px solid #eee;
          padding: 2px 18px;
          font-size: 12px;
          display: block;
          font-weight: 600;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
          .comments-area .btn-reply:hover {
            background: #fdc632;
            color: #002347; }
      
      .comment-form {
        background: #f1f9ff;
        text-align: center;
        padding: 47px 30px 43px;
        margin-top: 50px;
        margin-bottom: 40px; }
        .comment-form h4 {
          text-align: center;
          margin-bottom: 50px;
          font-size: 18px;
          line-height: 22px;
          color: #002347; }
        .comment-form .name {
          padding-left: 0px; }
          @media (max-width: 767px) {
            .comment-form .name {
              padding-right: 0px;
              margin-bottom: 1rem; } }
        .comment-form .email {
          padding-right: 0px; }
          @media (max-width: 991px) {
            .comment-form .email {
              padding-left: 0px; } }
        .comment-form .form-control {
          padding: 8px 20px;
          background: #fff;
          border: none;
          border-radius: 0px;
          width: 100%;
          font-size: 14px;
          color: #777777;
          border: 1px solid transparent; }
          .comment-form .form-control:focus {
            box-shadow: none;
            border: 1px solid #eee; }
        .comment-form textarea.form-control {
          height: 140px;
          resize: none; }
        .comment-form ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          font-size: 15px;
          color: #777; }
        .comment-form ::-moz-placeholder {
          /* Firefox 19+ */
          font-size: 15px;
          color: #777; }
        .comment-form :-ms-input-placeholder {
          /* IE 10+ */
          font-size: 15px;
          color: #777; }
        .comment-form :-moz-placeholder {
          /* Firefox 18- */
          font-size: 15px;
          color: #777; }
          .author_img {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            
          }
     
/* blog ends */

  /******* MAIN FOOTER  *******/
  .list-unstled {
    font-size: 10px !important;
  }