.seevic {
    color: #fff;
    font-weight: 900;
    font-size: 35px;
}
.img-fliud {
    height: 50px;
    width: 50px;
}
.footer {
    background-color: #42aaa5;
    color: #fff;
}
.list-unstled li a {
    color: #fff;
}
.color {
    background-color: #42aaa5;
    font-size: large;
}